body {
  background-color: #fde9e9;
  font-family: "Inter", sans-serif;
}

.sidebar {
  background-color: #f8c7c7;
  min-height: 100vh;
  width: 250px;
  border-radius: 0 1rem 1rem 0;
  padding: 2rem 1rem;
}

.sidebar h5 {
  font-weight: bold;
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #fcd5d5;
  font-weight: 600;
}
.button{
  background-color: #ef4444;
  color: #fff;
  border: none;
  width: 50%;
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.logout-btn, .newtask-button  {
  background-color: #ef4444;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.content-card {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-save {
  background-color: #ef4444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0.5rem;
}

.btn-save:hover {
  background-color: #dc2626;
}
